
<div class="container">
    <div class="card ">
        <h1>Group 3 Travel Day Dreamin'</h1>
        <div class="box" *ngFor="let trip of trips" [class.selected]="trip === selectedTrip" 
        (click)="onSelect(trip)">                                     
                    
            <div class="card-body">
                <h2 class="card-title">{{trip.name}}</h2>                
            </div>                  
               
        </div>
    </div>
</div>
<app-trips-detail [trip]="selectedTrip"></app-trips-detail>
