.card {
    /* margin-bottom: 15px; */
    min-height: 425px;
    max-height: 450px;
    /* border: 2px solid black; */
    text-align: center;
    color: #57350A;
    box-sizing: content-box;
    

  }
  
  .card-img-top {
    height: 400px;
    object-fit: cover;
  }
  .card-text{
      font-size: 18px;
      font-weight: bold;
  }